/*  FONT REFERENCE ***
font-family: 'Cinzel', serif;
font-family: 'Cormorant', serif;
font-family: 'Vollkorn', serif;

*/

body, html{
    height:100%;
    color:blanchedalmond;
    font-weight: 200;
    background-color:rgb(28, 81, 107);
    
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    font-weight: 600;
}
h2{
    font-family: 'Cormorant', serif;
    font-size:25px;
    font-weight: 500;
}
h3, h4, h5, h6 {
    font-family: 'Cormorant', serif;
    font-size:20px;
    font-weight: 200;
}
/* header image that will be on top of every page */
.header-image{
    background-image: url(headerImage.png);
    height:30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Center the text over the image */
.header-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Cormorant', serif;
    transform: translate(-50%, -50%);
    color: rgb(22, 21, 20);
    size: 100px;
}

#navbar{
    overflow: hidden;
    background-color: #6b9dbe;
    border: #0d1113;
    z-index: 999;
    align-self: center;    
}

#navbar a{
    float: left;
    display: block;
    color: rgb(33, 30, 30);
    font-family: 'Vollkorn', serif;
    font-style:bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

/* Adding hover effect to highlight selection */
#navbar a:hover{
    color:rgb(255, 255, 255);
    background-color: #2175ad;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

/* ////////// */


/* Style the container */
/* .stuff {
    width: 40%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(41, 38, 38);
    opacity: 70%;
    padding:60px;
} */

/* Style the header */
/* header {
    color: #fff;
    padding-top: 10px;
    min-height: 20px;
    border-color: #1d4e67;
    border-width: 4px;
    border-radius:20px;
    
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
} */


div.stuff {
    background-color:  #2b4254;
    /* position: relative; */
    /* top: 35%;
    left: 50%; 
    transform: translate(-50%,-50%);
    width: 800px;*/
    align-self: center; 
    word-wrap: break-word;
    overflow: auto;
    text-align: center;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    float: top;
    margin: 10px;
    padding: 20px;
    padding-top: 1px;

    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
    }

.stuff img{
    padding:40px;
    height: 400px;
}
/*
    #about-first {
    background-color: #344249;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-80%);

    width: 800px;
   // align-self: center;
    word-wrap: break-word;
    overflow: auto;
    text-align: center;
    border-width: 1px;
    border-style: dotted;
    border-color: rgb(62, 57, 11);
    float: top;
    margin: 10px;
    padding: 20px;
    padding-top: 1px;
}*/ 

footer {
    background-color: #333;
    height: 400px;
    color: #191c20;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Cinzel', serif;
  }

.social-icons img {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    
}
.social-icons a {
    margin: 0 10px; /* Adjust the horizontal margin for spacing */
    display: inline-block; /* Ensures the margin is applied correctly */
  }

.port {
    height: 400px;
    background-color: #2b4254;
    color: aliceblue;
    margin: 10px; /* Add margin between columns */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width and height */
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    padding-left: 200px;
    padding-right: 200px;
}

.port img{
    float: right;
    height: 200px;
}

a{
    color: rgb(165, 137, 61);
}